.order-preview{
  min-height: auto;
  height: auto;
}

.reciept{
  color: green !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 25px !important;
}

.payment-form{
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
