<style>
  .dog-info {
    width: 100%;
    padding: 10px;
  }
</style>
<div class="map-box">
  <div class="dog-info">
  <h4><%= restaurant.name %></h4>
  <p> <%= restaurant.address %></p>
  </div>
</div>


<%#= link_to restaurant_path(restaurant) do %>
  <%#= cl_image_tag restaurant.photo, height: 200, width: 300, crop: :fill%>
<%# end %>
