

<p><%= link_to restaurant_path(restaurant) do %>
  <%= image_tag restaurant.picture, height: 200, width: 300, crop: :fill%>
<% end %></p>
<style>
  .dog-info {
    width: 100%;
    padding: 10px;
  }
</style>
<div class="map-box">
  <div class="res-info">
  <h4><%= restaurant.name %></h4>
  <p> <%= restaurant.address %></p>
  </div>
</div>
