


<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |r| %>
  <%= link_to restaurant_path(r) do%>
  <h3><u><%= r.name %></u></h3>
  <p><%= r.address %></p>
  <p><%= r.category %></p>

  <% end %>
  <% end %>

</div>

