<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1519137847-189aca33af2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21eff8fb6e8bee9d55679ddc727f9dac&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h1>WeLunch</h1>
    <p>Say goodbye to long waits for food to get to your table</p>
  </div>
 </div>


